{#
    Every child template can/should extend on:
    -   head
    -   header
    -   content
    -   footer
    -   script

    Helper Functions
    -   function() to call a global function, the content is escaped, so use the Raw filter on it!
#}
<!doctype html>
<html lang="{{ site.language }}" dir="ltr" class="no-js">
<head>

    <!-- Title Tag -->
    <title>{{ page.content.meta('seo_title') | default( site.title ) | eclipse }}</title>

    <!-- Meta -->
    {% include '@c/meta.twig' %}

    <!-- FavIcon -->
    <link rel="icon" type="image/png" href="{{ 'favicon.png' | static_path }}">

    <link rel="author" href="{{ 'humans.txt' | theme_path }}" />
    <link rel="pingback" href="{{ site.pingback_url | default('') }}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ 'style.css' | mix }}" type="text/css" media="screen" />

    {# Block that can be extended by the template! #}
    {% block head %}{% endblock %}

    {# Wordpress Head Content #}
    {% if not disable_wp_functions %}
        {{ function('wp_head') | raw }}
    {% endif %}

    {# Analytics #}
    {% include '@c/analytics.twig' ignore missing %}

    {# Remove no-js #}
    <script type="application/javascript">
        document.getElementsByTagName("html")[0].className = 'js';
    </script>
</head>
<body class="{{page.body.class | join(' ') }}">

    {# Header #}
    {% block header %}
        {% include '@c/header.twig' %}
    {% endblock %}

    <main id="content" class="content" role="main">

        <div class="wrapper {{sidebar_class}}">

            {# This Block should be extended by the individual Template! #}
            {% block content %}{% endblock %}

        </div>

        {# include the sidebar if present #}
        {% if sidebar %}
            <aside class="layout-sidebar">
                {{ sidebar }}
            </aside>
        {% endif %}

    </main>

    {# Footer #}
    {% block footer %}
        {% include '@c/footer.twig' %}
    {% endblock %}

    {# Additionl scripts #}
    {% block script %}
        <!-- Vendor Files -->
        <script src="{{ 'manifest.js' | mix }}" type="application/javascript"></script>
        <script src="{{ 'vendor.js' | mix }}"   type="application/javascript"></script>

        <!-- Script file! -->
        <script type="application/javascript" src="{{ 'script.js' | mix }}"></script>
    {% endblock %}

    {# Show debug notices #}
    {% if debug %}
        {% include '@c/debug.twig' ignore missing %}
    {% endif %}

    {# Wordpress Footer Content #}
    {% if not disable_wp_functions %}
        {{ function('wp_footer') | raw }}
    {% endif %}
</body>
</html>